/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

// .wp-block-wcrh-wcrh-custom-nav {}

.nav-order-list {
	li {
		border: 1px solid #949494;
		border-radius: 2px;
		padding: 6px 8px 6px calc(1rem + 8px);
		height: 32px;
		width: 100%;
		position: relative;
	}

	li::before {
		content: "";
		position: absolute;
		width: 1rem;
		height: 100%;
		top: 0;
		left: 0;
		border-right: 1px solid #949494;
		background-image: url("../assets/drag.svg");
		background-repeat: no-repeat;
		background-size: 0.25rem;
		background-position: center;
	}
}
